html,
body {
	/*height: 100%;
	width:100%;
	margin:0;
	padding:0;*/
}

body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    padding-bottom: 100px;
    background-color:#000;
	background-image:url("../img/bg/redcarpet.jpg");
	background-repeat:no-repeat;
 	background-position:center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 979px) {
    body {
       padding-top: 0;
	}
}

/* Wrapper for page content to push down footer */
#main {
	background:rgba(255,255,255,0.98);
	padding:0;
	box-shadow:rgba(0,0,0,0.6) 0 0 20px;
}

.navbar-brand{
	padding-top:7px;
	padding-bottom:0;
}
.navbar-brand img{
	height:30px;
}

.panel{
	border:#ccc solid 1px;
	outline:#efefef solid 3px;
	margin:5px;
}

.top-m{
	margin-top:20px;
}

.top-l{
	margin-top:40px;
}

.top-xl{
	margin-top:70px;
}

.no-padding{
	padding:0;
}

.rating .glyphicon-star-empty{
	color:#AAAAAA;
}
.rating .glyphicon-star{
	color:#FF851B;
}

.profile-compact{
	display: inline-block;
	position:relative;
	overflow:hidden;
	height:200px;
	border:#fff solid 1px;
	background-repeat:no-repeat;
 	background-position:center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow:			0 1px 4px rgba(0,0,0,0.3);
}

.profile-compact .overlay{
	position:absolute;
	width:100%;
	height:100%;
	color:rgba(255,255,255,.75);
	text-shadow: rgba(0,0,0,.5) 0 0 5px;
}

.content-bottom{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.profile-compact .overlay:hover{
	background:rgba(0,0,0,0.2);
}

.profile-compact .pic-profile{
	width:100%;
}

table{
	background:#fff;
	border:solid 1px #ddd;
	border-top:none;
}

.fb-comments, .fb-comments * {
	width: 100% !important;
}

/* Music player */
.audio-player{
	text-shadow:#000 0 -1px 1px;
}
.audio-player .controls{
	line-height:50px;
	text-align:center;
}
.audio-player .disabled{
	color:#888;
	text-shadow:#000 0 1px 1px;
}
.audio-player .controls a{
	color:#aaa;
}
.audio-player .controls a.active{
	color:#0095FF;
	box-shadow:none;
}
.audio-player .controls a.active:hover{
	color:#99D5FF;
}
.audio-player .controls a:hover{
	color:#fff;
	text-shadow:#000 0 -1px 2px;
}
.audio-player .current-track{
	height:50px;
	overflow:hidden;
	padding:2px 10px;
}
.audio-player .current-track a{
	color:inherit;
}
.audio-player .current-track small{
	color:#ccc;
	font-size:0.8em;
}
.audio-player .song-info{
	width: 100%;
	overflow: hidden;
	height: 20px;
}
.audio-player .elapsed, .audio-player .total, .audio-player .seek{
	display:inline-block;
	font-size:0.7em;
	color:#ccc;
}
.audio-player .seek{
	width:76%;
	margin-right:2%;
	height:8px;
	vertical-align:middle;
	border-radius:2px;
	border:solid 1px #111;
	position:relative;
}
.audio-player .seek .seek-slider{
	position:absolute;
	width:10px;
	height:10px;
	background:#fff;
	top:-2px;
	left:0;
	cursor:pointer;
	z-index:3;
}
.slider {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}
.slider.slider-horizontal {
  width: 100%;
  height: 10px;
}
.slider.slider-disabled .slider-handle {
 	background:#555;
}
.slider input {
	display: none;
}
.slider .tooltip-inner {
	white-space: nowrap;
}
.slider-handle {
	position:absolute;
	width:10px;
	height:10px;
	background:#fff;
	top:-2px;
	left:0;
	cursor:pointer;
	z-index:3;
	margin-left: -5px;
}
.slider-handle:hover{
	background:#000;
}
.slider .slider-selection{
	position: absolute;
	background:rgba(255,255,255,0.3);
	height: 6px;
	top: 0;
	bottom: 0;
}
.slider .tooltip{
	top:-30px !important;
}
.audio-player .seek .seek-loaded{
	background:rgba(255,255,255,0.05);
	position:absolute;
	z-index:1;
	width:0%;
	height:100%;
}
.audio-player .elapsed, .audio-player .total{
	width:10%;
}
.audio-player .playlist{
	height:50px;
}
.audio-player .playlist ul{
	list-style:none;
	margin:0;
	padding:0;
	width:500px;
}
.audio-player .playlist li{
	display:inline-block;
	position:relative;
}
.audio-player .playlist li .track{
	background: url('http://www.deathwishinc.com/img/icons/vinyl-off-trans.png') no-repeat 4px;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-shadow: #000 0 0px 2px;
	padding: 4px;
	position:relative;
}
.audio-player .playlist li .delete{
	position:absolute;
	top:-5px;
	right:-5px;
	color:#fff;
	display:none;
}
.audio-player .playlist li:hover .track{
	background-color:rgba(255,255,255,0.1);
	border-bottom:solid 3px #ccc;
}
.audio-player .playlist li .delete:hover{
	color:#eb0000;
	cursor:pointer;
}
.audio-player .playlist li a.active, .audio-player .playlist li a.active:hover{
	border-bottom:solid 3px #eb0000;
}

/* Footer */
footer {
  background-color:rgba(0,0,0,0.1);
  text-align:center;
  border-top:#ccc solid 1px;
  margin-top:30px;
}
footer p{
	margin:20px 0;
}
