html,
body {
	/*height: 100%;
	width:100%;
	margin:0;
	padding:0;*/
}

body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
    padding-bottom: 100px;
	background-image:url("../img/bg/redcarpet.jpg");
	background-repeat:no-repeat;
 	background-position:top;
	background-size:cover;
}

@media (max-width: 979px) {
    body {
       padding-top: 0;
	}
}

/* Wrapper for page content to push down footer */
#main {
	background:rgba(255,255,255,0.98);
	padding:0;
	box-shadow:rgba(0,0,0,0.6) 0 0 20px;
}

.navbar-brand{
	padding-top:7px;
	padding-bottom:0;
}
.navbar-brand img{
	height:30px;
}

table{
	background:#fff;
	border:solid 1px #ddd;
	border-top:none;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color:rgba(0,0,0,0.1);
  line-height:60px;
  text-align:center;
  border-top:#ccc solid 1px;
  margin-top:30px;
}

#player{
	
}
