<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-3 visible-lg visible-md">
				<div class="row album text-center">
					<img src="<%= album.photo %>" width="100%" alt="<%= album.name %>" />
					<h3><a href="/album/<%= album.id %>"><%= album.name %></a></h3>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-4">
						<img src="<%= artist.photo %>" class="img-thumbnail" width="100%" alt="Photo" />
					</div>
					<div class="col-md-8">
						<h4><a href="/dj-songs/<%= artist.id %>"><%= artist.name %></a></h4>
						<p>23 Tracks<br />
							2 albums</p>
						<hr />
						Related tracks...
					</div>
				</div>
			</div>
			
			<div class="col-md-9">
				<ol class="breadcrumb">
				  <li><a href="/dj-songs/<%= artist.id %>"><%= artist.name %></a></li>
				  <li><%= album.name %></li>
				</ol>
				<h1><%= album.name %>
					<div class="pull-right"><small style="font-size:0.4em">
						<i class="fa fa-play"></i> <%= album.playsString %> |
						<i class="fa fa-comments"></i> <span class="fb-comments-count" data-href="http://djs-music.com/album/<%= album.id %>">0</span> |
						<i class="fa fa-download"></i> <%= album.downloadsString %>
					</small></div>
				</h1>
				
				<blockquote><%= album.description %></blockquote>
				
				<div class="pull-right">
					<small>Order by:
						<select name="orderby" class="filter">
							<option value="release">Release date</option>
							<option value="best">Best tracks</option>
							<option value="downloads">Downloads</option>
						</select>
					</small>
				</div>
				
				<h3>Track list</h3>
				
				<div id="songs" class="music-list"></div>
				
				<div class="text-center">
					<a href="#" class="btn btn-default btn-sm playAll"><i class="fa fa-play"></i> Play all</a>
				</div>
				
				<hr />
				<div class="panel" style="width:728px;height:90px; margin:auto">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- DJs - Music banner -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-1014371694295598"
					     data-ad-slot="1570973340"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Comments</h3>
						<div id="comments"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
