<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-3 visible-lg visible-md">
				<div class="row album text-center">
					<img src="<%= artist.photo %>" width="100%" alt="<%= artist.name %>" />
				</div>
				<blockquote><%= artist.description %></blockquote>
				<i class="fa fa-map-marker fa-fw"></i> <%= artist.city %><br />
				<i class="fa fa-globe fa-fw"></i> <a href="<%= artist.web %>"><%= artist.web %></a>
				<hr />
				<h4>Albums:</h4>
				<div id="albums"></div>
			</div>
			
			<div class="col-md-9">
				<h1><%= artist.name %>
					<div class="pull-right"><small style="font-size:0.4em">
						<i class="fa fa-play"></i> <%= artist.plays %> |
						<i class="fa fa-download"></i> <%= artist.downloads %>
					</small></div>
				</h1>
				
				<div class="pull-right">
					<small>Order by:
						<select name="order">
							<option value="best">Best tracks</option>
							<option value="release">Release date</option>
							<option value="downloads">Downloads</option>
						</select>
					</small>
				</div>
				
				<h3>Tracks</h3>
				
				<div id="songs" class="music-list"></div>
				
				<div class="text-center">
					<a href="#" class="btn btn-default btn-sm playAll"><i class="fa fa-play"></i> Play all</a>
				</div>
				
				<hr />
				
				<div class="panel" style="width:728px;height:90px; margin:auto">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- DJs - Music banner -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-1014371694295598"
					     data-ad-slot="1570973340"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Comments</h3>
						<div class="fb-comments" data-href="http://djs-music.com/dj-songs/<%= artist.id %>" data-numposts="5" data-colorscheme="light"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
