<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-3 visible-lg visible-md">
				<div class="row album text-center">
					<img src="<%= album.photo %>" width="100%" alt="<%= album.name %>" />
					<h3><a href="#album/<%= album.id %>"><%= album.name %></a></h3>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-4">
						<img src="<%= artist.photo %>" class="img-thumbnail" width="100%" alt="Photo" />
					</div>
					<div class="col-md-8">
						<h4><a href="#/dj-songs/<%= artist.id %>"><%= artist.name %></a></h4>
						<p>23 Tracks<br />
							2 albums</p>
						<hr />
						Related tracks...
					</div>
				</div>
			</div>
			
			<div class="col-md-9">
				<ol class="breadcrumb">
				  <li><a href="#/dj-songs/<%= artist.id %>"><%= artist.name %></a></li>
				  <li><a href="#/albums/<%= artist.id %>">Albums</a></li>
				  <li><a href="#/album/<%= album.id %>"><%= album.name %></a></li>
				  <li class="active"><%= track.name %></li>
				</ol>
				<h1><a class="play" href="#/music/<% track.id %>" title="Play track"><i class="fa fa-play-circle fa-xs"></i></a> <%= track.name %>
					<div class="pull-right"><small style="font-size:0.4em">
						<i class="fa fa-play"></i> <%= track.plays %> |
						<i class="fa fa-comments"></i> <span class="fb-comments-count" data-href="http://djs-music.com/music/2708">0</span> |
						<i class="fa fa-download"></i> <%= track.downloads %>
					</small></div>
				</h1>
				
				<blockquote><%= track.description %></blockquote>
				<div style="padding:10px 0 0 10px">
					<div class="pull-right text-center well">
						<p><a href="<%= track.url %>" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Download</a></p>
						<small><%= track.size %> Mb</small>
					</div>
					<p><b>Rating:</b> <span class="rating"><%= track.rating %></span></p>
					<p><b>Length:</b> <%=  track.duration %></p>
					<p><b>Bitrate:</b> <%= track.bitrate %> kbit/s</p>
					<p><b>Released:</b> <%= track.released %></p>
					<p><b>Tags:</b> <%= track.tags %></p>
				</div>
				<hr />
				<div class="panel" style="width:728px;height:90px; margin:auto">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- DJs - Music banner -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:728px;height:90px"
					     data-ad-client="ca-pub-1014371694295598"
					     data-ad-slot="1570973340"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Comments</h3>
						<div class="fb-comments" data-href="http://djs-music.com/music/2708" data-numposts="5" data-colorscheme="light"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
